:root{
    --preto: #141414;
    --white: #ffffff;
    --vermelho: #ff0000;
    --system-primary-azulMarinho: #000000;
    --system-primary-preto: #FBF5F3;
    --system-primary-preto-claro:  #3296ee;
    --system-primary-light: #907694;
    --system-primary-light-a: #ffffff;
    --system-primary-default: #ff0000;
    --system-primary-default-escuro: rgb(121, 158, 117);

}

body {
    background:var(--system-primary-preto)  ;
}  
/* 
.aaaaaaaaaaaaaaaaaaaaaaaa{--bs-text-opacity:1;color:rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important} */

.bg-sys-preto{
    background-color:var(--system-primary-preto)  ;
}
.bg-sys-preto-claro{
    background-color:var(--system-primary-preto-claro)  ;
}
.bg-sys-default{
    background-color:var(--system-primary-default)    
}

.bg-sys-default1{
    background-color:var(--system-primary-light-a)
}
.bg-sys-default-escuro{
    background-color:var(--system-primary-default-escuro)    
}
.bg-sys-preto.form-control:focus {
    border-color: #f9f8f8;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.786);
} 

  
/* Text Colors*/
.text-sys-light{
    color:rgba(var(--system-primary-light))
}

.text-sys-light-a{
    color:rgba(var(--system-primary-light-a))
}

/* Border Configurações*/

.border-sys-light{
    border: 1px solid var(--system-primary-light);
}

/* Card Config */
.bh-sys-card{
    border-radius: 50px;
    border-color: black;
    background-size: 30px;
    padding: 20px;
}
.bh-sys-card-click:hover {
    border-color: black;

    box-shadow: 0 0 0 0.2rem rgba(16, 3, 15, 0.786);
} 


.bh-sys-card .bg-sys-card-child{
    border-radius: 25px;

}
img {
    max-width: 100%;
    max-height: 100%;
}

.bg-sys-usermodel{
    border-radius: 50px;
}
/* Buttons Configurações*/

.btn.btn-sys-primary {
    color: white;
    background-color: var(--system-primary-azulMarinho);
    border-color: var(--system-primary-azulMarinho);
}

.btn.btn-sys-primary:hover{
    text-shadow: rgb(107, 31, 31) 0.25px 0.25px;
}