:root{
    --preto: #141414;
    --white: #ffffff;
    --vermelho: #ff0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--preto);
}

head .navHeader{
    text-align: center;
}
header .navHeader{
    color:white;
    font-size: 15px;
    margin-right: 25px;
    text-decoration: none;

}

header .navHeader:hover{
    color: rgb(180, 180, 180);
}

.iframeResponsive{
    padding-bottom: 30%;
    position: relative;

}

.iframeResponsiveCard{
    padding-bottom: 70%;
    position: relative;

}

.iframeResponsive > iframe{
    position: absolute;
    top: 2%;
    left: 2%;
    max-width: 95%;
    max-height: 95%;
    
}
.iframeResponsiveCard > iframe{
    position: absolute;
    top: 3%;
    left: 2%;
    width: 95%;
    height: 95%;
    
}

.register{
    background: -webkit-linear-gradient(left, #ff0000, #d17461);
    padding: 3%;
    padding-bottom: 90px;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
#test_img{
    margin-top: 5%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #ff0202;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btnLogin{
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.btnLogin_red{
    border: none !important;
    border-radius: 1.5rem !important;
    padding: 2% !important;
    background: #ff0202 !important;
    color: rgb(251, 251, 251) !important;
    font-weight: 600 !important;
    width: 50%  !important;
    cursor: pointer !important;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #ff0000;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #ff0000;
    border: 2px solid #ff0000;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.box {
    width: 500px;
    margin: 10% 0;
}

.shape1{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 80px;
    float: left;
    margin-right: -50px;
}
.shape2 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 80px;
    margin-top: -30px;
    float: left;
}
.shape3 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 80px;
    margin-top: -30px;
    float: left;
    margin-left: -31px;
}
.shape4 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 80px;
    margin-top: -25px;
    float: left;
    margin-left: -32px;
}
.shape5 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 80px;
    float: left;
    margin-right: -48px;
    margin-left: -32px;
    margin-top: -30px;
}
.shape6 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 80px;
    float: left;
    margin-right: -20px;
    margin-top: -35px;
}
.shape7 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #ffffff;
    border-radius: 80px;
    float: left;
    margin-right: -20px;
    margin-top: -57px;
}
.float {
    position: absolute;
    z-index: 2;
}

.form {
    margin-left: 145px;
}